<!-- <ion-view title="{{lektion.title}}">

    <ion-content padding="true" class="has-header">
<div class="list" collection-repeat="track in lektion.tracks">
      <ion-audio-track track="track">
         <div class="list list-inset">
          <div class="selectable">
             <p class="transkript" compile="track.transkript" >  </p>
          </div>

             <div class="item">
               <ion-audio-controls>
                     <a class="button button-icon icon" ion-audio-play></a>
                     <ion-spinner icon="ios"></ion-spinner>
                 </ion-audio-controls>
               <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
             </div>
         </div>
     </ion-audio-track>
</div>
    </ion-content>


</ion-view> -->
<input type="text" ng-model="word"  ng-disabled="true">
<input type="text" ng-model="wordResult" ng-disabled="true">
